/* 
        Howdy! 
        This is your styling page (css: casscading style sheet)
        
        This is a comment. Outside of this section, you will add
        specific styles to add some pizzaz to your website.
 */
 body {
        background-image: url('img/My wallpaper.jpeg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }